:root {
  --background-color: hsl(220, 9%, 25%);
  --secondary-background-color: hsl(218, 9%, 17%);
  --divider-color: hsl(230, 8%, 15%);
  --text-color: hsl(222, 94%, 94%);
  --secondary-text-color: hsl(222, 16%, 44%);
  --highlighted-text-color: hsl(221, 22%, 65%);
  --purple-color: hsl(282, 44%, 64%);
  --red-color: hsl(350, 40%, 58%);
  --yellow-color: hsl(28, 56%, 62%);
  --green-color: hsl(108, 28%, 59%);
  --blue-color: hsl(223, 90%, 61%);
  --secondary-blue-color: hsl(223, 90%, 55%);
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

.App {
  height: 100%;
}

textarea, input, button {
  background-color: var(--background-color);
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  border: none;
}

.Stage {
  height: 100%;
  position: relative;
}

.Stage canvas {
  position: absolute;
  top: 0;
  left: 0;
}

.Toolbar {
  background: var(--secondary-background-color);
  border-bottom: 1px solid var(--background-color);
  padding: 1em;
}

.ToolbarButton {
  font-size: 110%;
  padding: 0em 0.5em;
  background: var(--background-color);
}

.ToolbarButton:hover {
  background: rgba(255, 255, 255, 0.17);
}

.BlockModalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  outline: none;
}

.BlockModal {
  position: absolute;
  top: 3em;
  left: 3em;
  right: 3em;
  background: var(--secondary-background-color);
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
  overflow: auto;
  border-radius: 0.2em;
  outline: none;
  padding: 1em;
  max-width: 40em;
  margin: 0 auto;
}

.BlockModal .section {
  display: flex;
  margin: 1em;
}

.BlockModal .section label {
  min-width: 5em;
}

.BlockModal .section textarea,
.BlockModal .section input {
  flex-grow: 1;
  padding: 0.25em 0.7em;
}

.BlockModal .section textarea {
  height: 10em;
}

.BlockModal .button {
  padding: 0.25em 0.8em;
  border-radius: 0.2em;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.2);
}

.BlockModal .button:hover {
  background: rgba(255, 255, 255, 0.1);
}

.BlockModal .button.primary {
  background: var(--blue-color);
}

.BlockModal .button.primary:hover {
  background: var(--secondary-blue-color);
}

.BlockModal .section.footer {
  display: flex;
  justify-content: flex-end;
}

.BlockModal .button {
  margin-left: 2em;
}
