.Block {
  background-color: var(--secondary-background-color);
  max-width: 10em;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
  min-width: 5em;
  position: absolute;
  display: inline-block;
  overflow: hidden;
  user-select: none;
  cursor: default;
  overflow: visible;
}

.Block .code {
  color: var(--secondary-text-color);
  font-family: inherit;
  font-size: 90%;
  border: none;
  box-sizing: border-box;
  display: block;
  padding: 0.5em;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin: 0;
  border-top: 1px solid var(--divider-color);
}

.Block .header {
  min-height: 1.5em;
  background: var(--blue-color);
  border-bottom: 1px solid var(--divider-color);
  padding: 0.25em 0.5em;
  display: flex;
  align-items: center;
}

.Block .header .menu-button {
  margin-left: 0.5em;
  cursor: pointer;
}

.Block .header:hover {
  background: var(--secondary-blue-color);
}

.Block.linked .header {
  background: var(--background-color);
}

.Block.linked .header:hover {
  background: var(--secondary-background-color);
}

.Block .name {
  flex-grow: 1;
}

.Block {
  border-radius: 0.2em;
}

.Block .ports {
  display: flex;
}

.Block .inputs, .Block .outputs {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 0.5em;
}

.Block .outputs {
  text-align: right;
}

.Block .Port:hover {
  color: var(--highlighted-text-color);
}

.Block .header .link-icon {
  margin-right: 0.5em;
}
.Block.preview {
  color: var(--text-color);
  opacity: 0.6;
  border: 1px solid var(--secondary-text-color);
}

.Block.preview .header {
  background: var(--secondary-text-color);
}

.Block .drop-down {
  position: absolute;
  background: var(--background-color);
  padding: 0.5em 0em;
  font-size: 90%;
  width: 10em;
  z-index: 100;
  box-shadow: 0 2px 9px rgba(0, 0, 0, 0.24);
}

.Block .drop-down>div {
  padding: 0.5em;
}

.Block .drop-down>div:hover {
  background: var(--secondary-background-color);
}
